.swiper-wrapper {
  padding: 0;
}

.swiper-slide {
  margin: 0;
  padding: 0;
}

.swiper-button {
  background-color: transparent;
  border: 0;
  color: var(--color-primary);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}
